
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/* Custom Color Palette */
:root {
  --space-indigo: #1b264fff;
  --french-blue: #274690ff;
  --smart-blue: #576ca8ff;
  --graphite: #302b27ff;
  --white-smoke: #f5f3f5ff;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

.app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}