@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

.app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}